<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/layout/main.html">
<div layout:fragment="productsContent">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>SURNAME</th>
            <th>EXAM</th>
            <th>MARK</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="student : ${students}">
            <tr>
                <td th:text="${student.id}" class="" th:classappend="${student.mark.equals('F')} ?'text-danger'"></td>
                <td th:text="${student.name}" class="" th:classappend="${student.mark.equals('F')} ?'text-danger'"></td>
                <td th:text="${student.surname}" class="" th:classappend="${student.mark.equals('F')} ?'text-danger'"></td>
                <td th:text="${student.exam}" class="" th:classappend="${student.mark.equals('F')} ?'text-danger'"></td>
                <td th:text="${student.mark}" class="" th:classappend="${student.mark.equals('F')} ?'text-danger'"></td>
            </tr>
        </div>
        </tbody>
    </table>
</div>
</html>